html {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    font-family: 'Lucida Sans Unicode', 'Courier New', Courier, monospace;
    color: #F2DC5D;
    background-color: #240B36;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0%;
}

ul {
    list-style: none;
    display: flex;
    gap: 3em;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: #6cf25d;
    text-shadow: 1px 1px 1px yellow;
}

a:hover {
    color: yellow;
}

.wrapper:hover {
    box-shadow: 6px 6px 6px yellow !important;
}

/**** SECTION 1  ****/

.section-1 {
    /* width: 1300px; */
    display: flex;
    flex-direction: column;
    background-color: #240B36;
    padding: 0 20em;
    gap: 3em;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    height: 5em;

}

.logo {
    color: yellow;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;
    width: 100%;
    /* flex-wrap: wrap; */
}

.hero img {
    flex: 1 1 0;
    min-width: 350px;
    width: 100%;
    height: auto;
    border: 3px solid #a43040;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #bb5a67;
}

.hero-text {
    padding-right: 2em;
    min-width: 350px;
    max-width: 600px;
    font-size: 1.5em;
    font-weight: 600;
}

.story-time {
    padding-top: 2em;
    font-size: 0.75em;
    font-weight: normal;
}



/**** SECTION 2  ****/

.section-2 {
    display: flex;
    flex-direction: column;
    /* max-width: 1300px; */
    justify-content: center;
    align-items: center;
    background-color: #A4031F;
    padding: 0 20em;
    gap: 3em;
}

.header-2 {
    font-size: 1.5em;
    font-weight: 600;
    height: 5em;
    display: flex;
    align-items: center;
}

.images-and-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
    padding-bottom: 4em;
    width: 100%;
}


.frogs-pack {
    max-width: 200px;
    max-height: 260px;
    text-align: center;
}

.frogs-pack .wrapper {
    width: 200px;
    height: 200px;
    border: 3px solid #25117f;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #4459de;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.images-and-texts img {
    transform: scale(0.08);
}

img.image-indent {
    margin-left: 140px;
}



/**** SECTION 3  ****/

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DB9065;
    color: #240B36;
    padding: 4em 20em;
    min-width: 295px;
}

.quote, .author {
    flex-grow: 0;
}

.quote {
    font-size: 2em;
    text-align: center;
    height: 5em;
    display: flex;
    align-items: center;
}

.author {
    align-self: flex-end;
    font-size: 2em;
    font-weight: bolder;
}



/**** SECTION 4  ****/

.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #240B36;
    padding: 6em 20em;
    gap: 1em;
}

.sign-up {
    font-size: 2em;
    width: 100%;
    height: auto;
}

article.sign-up {
    text-align: right;
}

button {
    background-color: #240B36;
    color: #6cf25d;
    border: 3px solid #a43040;
    min-width: 330px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #bb5a67;
    width: 8em;
    min-height: 4em;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 6px 6px 6px yellow;
    cursor: pointer;
}



/**** FOOTER  ****/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #240B36;
    padding: 2em 20em;
    text-align: center;
    font-size: 1.5em;
    margin: 0%;
}



/**** DISCLAIMER ****/

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #240B36;
}

.disclaimer p.disclaimer {
    font-size: 2em;
    width: 50%;
    height: auto;
    margin: 0%;
}

a#home {
    padding: 1.5em;
}

.disclaimer ul {
    padding: 5em;
    margin: 0%;
}



